Repository ipfs/ipfs-docs, pull requests merged in 2019-11, with the labels that each got.

#12 nav amends
  docs/.vuepress/nav/en.js
  docs/.vuepress/theme/styles/index.styl
Labels: OKR 1: Beta Launch, Size: S, design-front-end, design-ux, docs-ipfs

#13 Feat add corecourses
  docs/essentials/README.md
  docs/essentials/bitswap.md
  docs/essentials/content-addressing.md
  docs/essentials/dht.md
  docs/essentials/file-systems.md
  docs/essentials/hashing.md
  docs/essentials/how-ipfs-works.md
  docs/essentials/immutability.md
  docs/essentials/merkle-dag.md
  docs/essentials/persistence.md
Labels: OKR 1: Beta Launch, design-content, difficulty:easy, docs-ipfs

#14 add GH edit links and setup nav/sw config
  docs/.vuepress/config.js
  docs/.vuepress/theme/styles/index.styl
Labels: OKR 1: Beta Launch, Size: S, design-front-end, docs-ipfs

#15 feat: enable active header links
  docs/.vuepress/config.js
  package-lock.json
  package.json
Labels: OKR 1: Beta Launch, Size: S, design-front-end, difficulty:easy, docs-ipfs

#24 Modify h2, h3, h4 headers for search.
  docs/essentials/bitswap.md
  docs/essentials/content-addressing.md
  docs/essentials/dht.md
  docs/essentials/dnslink.md
  docs/essentials/file-systems.md
  docs/essentials/glossary.md
  docs/essentials/hashing.md
  docs/essentials/how-ipfs-works.md
  docs/essentials/immutability.md
  docs/essentials/ipfs-gateway.md
  docs/essentials/ipld.md
  docs/essentials/ipns.md
  docs/essentials/libp2p.md
  docs/essentials/merkle-dag.md
  docs/essentials/usage-ideas-examples.md
  docs/essentials/what-is-ipfs.md
  docs/how-to/address-ipfs-on-web.md
  docs/how-to/browser-tools-frameworks.md
  docs/how-to/command-line-quick-start.md
  docs/how-to/configure-node.md
  docs/how-to/host-git-style-repo.md
  docs/how-to/host-single-page-site.md
  docs/how-to/make-service.md
  docs/how-to/modify-bootstrap-list.md
  docs/how-to/observe-peers.md
  docs/how-to/pin-files.md
  docs/how-to/store-play-videos.md
  docs/how-to/take-snapshot.md
  docs/how-to/work-with-blocks.md
  docs/install/README.md
  docs/project/history.md
  docs/project/related-projects.md
  docs/support-community/irc.md
  docs/support-community/social-media.md
Labels: OKR 1: Beta Launch, Size: M, design-content, difficulty:easy, docs-ipfs

#26 setup ga
  docs/.vuepress/config.js
  package-lock.json
  package.json
Labels: OKR 1: Beta Launch, OKR 2: Metrics/Research/Testing, difficulty:easy, docs-ipfs
