Repository ipfs/ipfs-docs, pull requests merged in 2019-12, with the labels that each got.

#28 feat: content status with related resources
  docs/.vuepress/config.js
  docs/.vuepress/nav/en.js
  docs/.vuepress/theme/global-components/ContentStatus.vue
  docs/.vuepress/theme/styles/layout-center.styl
  docs/.vuepress/theme/styles/palette.styl
  docs/.vuepress/theme/styles/util.styl
  docs/essentials/bitswap.md
  package-lock.json
  package.json
Labels: OKR 1: Beta Launch, OKR 3: Content Improvement, design-content, design-front-end, design-ux, design-visual, docs-ipfs

#31 Typos etc as found in legacy docs issue 397
  docs/essentials/how-ipfs-works.md
  docs/essentials/merkle-dag.md
Labels: OKR 3: Content Improvement, design-content

#32 Update contribute.md
  docs/project/contribute.md
Labels: OKR 3: Content Improvement, Size: XS, design-content, difficulty:easy, docs-ipfs

#43 Unlinks words and adjusts padding on two bottom-of-pg
  docs/.vuepress/config.js
  docs/.vuepress/theme/components/EditOrIssue.vue
  docs/.vuepress/theme/components/Page.vue
Labels: OKR 1: Beta Launch, Size: XS, design-front-end, design-visual, difficulty:easy, docs-ipfs

#49 fix: header logo ident
  docs/.vuepress/public/images/ipfs-logo-text-black.svg
  docs/.vuepress/theme/styles/index.styl
Labels: OKR 1: Beta Launch, design-front-end, design-visual, docs-ipfs

#47 feat: sitewide metadata and seo
  docs/.vuepress/config.js
  docs/.vuepress/public/robots.txt
  docs/README.md
  docs/community/README.md
  docs/community/irc.md
  docs/community/social-media.md
  docs/concepts/README.md
  docs/concepts/bitswap.md
  docs/concepts/content-addressing.md
  docs/concepts/dht.md
  docs/concepts/dnslink.md
  docs/concepts/faq.md
  docs/concepts/file-systems.md
  docs/concepts/glossary.md
  docs/concepts/hashing.md
  docs/concepts/how-ipfs-works.md
  docs/concepts/immutability.md
  docs/concepts/ipfs-gateway.md
  docs/concepts/ipld.md
  docs/concepts/ipns.md
  docs/concepts/libp2p.md
  docs/concepts/merkle-dag.md
  docs/concepts/persistence.md
  docs/concepts/usage-ideas-examples.md
  docs/concepts/what-is-ipfs.md
  docs/how-to/README.md
  docs/how-to/address-ipfs-on-web.md
  docs/how-to/browser-tools-frameworks.md
  docs/how-to/command-line-quick-start.md
  docs/how-to/configure-node.md
  docs/how-to/host-git-style-repo.md
  docs/how-to/host-single-page-site.md
  docs/how-to/make-service.md
  docs/how-to/modify-bootstrap-list.md
  docs/how-to/observe-peers.md
  docs/how-to/pin-files.md
  docs/how-to/store-play-videos.md
  docs/how-to/take-snapshot.md
  docs/how-to/work-with-blocks.md
  docs/install/README.md
  docs/project/README.md
  docs/project/contribute.md
  docs/project/history.md
  docs/project/related-projects.md
  docs/reference/README.md
  docs/reference/cli.md
  docs/reference/go/api.md
  docs/reference/http/api.md
  docs/reference/js/api.md
  package-lock.json
  package.json
Labels: OKR 1: Beta Launch, docs-ipfs
