Repository ipfs/ipfs-docs, pull requests merged in 2020-01, with the labels that each got.

#46 feat: support ipfs
  .circleci/config.yml
  docs/.vuepress/config.js
  docs/.vuepress/public-path.js
  package-lock.json
  package.json
Labels: OKR 1: Beta Launch, Size: L, design-front-end, difficulty:hard, docs-ipfs

#68 Work on glossary.md
  docs/concepts/glossary.md
Labels: Category: Content

#75 feat: add Algolia DocSearch 🥳
  docs/.vuepress/config.js
  docs/.vuepress/theme/components/Analytics.vue
  docs/.vuepress/theme/styles/header.styl
Labels: design-front-end, difficulty:moderate, docs-ipfs
